# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Logs
logs/
*.log

# SQLite database files
*.sqlite3
*.db

# Python virtual environment
venv/
ENV/
env/
.venv/

# Environment variables
.env

# IDE/editor configs
.vscode/
.idea/
*.swp

# MacOS system files
.DS_Store

# Jupyter Notebook checkpoints (in case you use them later)
.ipynb_checkpoints/

# Test coverage reports
htmlcov/
.tox/
.coverage
coverage.xml
.cache
nosetests.xml
pytest_cache/
